Report/report.fdb_latexmk
Report/report.fls
Report/report.log
Report/report.synctex.gz
Report/report.aux
Report/report.aux
Report/report.synctex.gz
Report/report.bbl
Report/report.blg

Report/Images/.DS_Store
Report/.DS_Store

Code/__pycache__
Code/.DS_Store

.DS_Store